@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600 &display=swap');

body {
    font-family: 'Kanit', sans-serif;
}
.containner {
    background-color: #F5F5F5;
    height: 100vh;
    padding-top: 20px;
    .box-time {
        margin-bottom: 20px;
        background-color: white;
        padding-bottom: 10px;
        color: #4a4f8a;
    }
    .box {
        width: 250px;
        color: white;
        font-weight: 500;
        font-size: 22px;
        padding: 20px;
        margin: 20px;
        &.recovered,
        &.death {
            width: 580px;
            margin: 0 auto 20px;
        }
    }
    .new {
        background-color: rgb(62, 109, 197);
    }
    .all {
        color: white;
        background-color: rgb(221, 72, 72);
    }
    .recovered {
        color: white;
        background-color: rgb(147, 211, 74);
    }
    .death {
        color: white;
        background-color: gray;
    }
    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .flex-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .center {
        text-align: center;
    }
    .margin-center {
        margin: 0 auto;
    }
    .font-color {
        color: #4a4f8a;
    }
    .font-date {
        font-size: 24px;
    }
    time {
        font-size: 50px;
    }
    hr {
        margin: 50px;
    }
    h1 {
        margin-top: 0;
    }
    h4 {
        font-weight: 500;
        font-size: 18px;
    }
}
